body{
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  background: #313131;  /* dark */
}

.chart{
  width: 600px;
  height: 500px;
  display: block;
}

.numbers{
  color: #feda77;  /* yellow */
  margin: 0;
  padding: 0;
  width: 0;
  height: 100%;
  display: inline-block;
  float: left;
}

.numbers li{
  list-style: none;
  height: 100px;
  position: relative;
  bottom: 85px;
}

.numbers span{
  font-size: 12px;
  font-weight: 600;
  position: absolute;
  bottom: 0;
  right: 10px;
}

.bars{
  color: #feda77;
  font-size: 12px;
  font-weight: 600;
  background-color: #414141;  /* not so dark */
  margin: 0;
  padding: 0;
  display: inline-block
  width: 600px;
  height: 500px;
  box-shadow: 0 0 10px 0 #feda77;
  border-radius: 10px;
}

.bars li{
  display: table-cell;
  width: 100px ;
  height: 500px;
  position: relative;
}

.bars span{
  width: 100%;
  position: absolute;
  bottom: -50px;
  text-align: center;
}

.bars .bar{
  display: block;
  background: #f9bcdd;  /* pink */
  width: 50px;
  /* height: 100px; */
  position:absolute;
  bottom: 0;
  margin-left: 25px;
  text-align: center;
  box-shadow: 0 0 10px 0 #e4d1d3;  /* gentle pink */
  transition: 0.5s;
  transition-property: background, box-shadow;
}

.bars .bar:hover{
  background: #feda77;
  box-shadow: 0 0 10px 0 #fff1ac;  /* 鹅yellow */
  cursor: pointer;
}

.bars .bar:before{
  color: #fff7f7;  /* pale pink near white */
  content: attr(data-value)' ⭐️';
  position: relative;
  bottom: 25px;
}

h1 {
  color: #feda77;
  /* text-align: center; */
  font-size: 28px;
  position: absolute;
  top: 20px;
}
